[![Open in Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/repos-especializacion-UdeA/trabajo-final_AA1/blob/main/notebooks_pasos_previos/merge_databases.ipynb)

# Combinación de todas las bases de datos

El siguiente notebook explora de manera sencilla un archivo de matlab donde se guarda la información de un sensor.

In [1]:
try:
    import scipy.io
except ImportError:
    !pip install scipy

## 1. Librerias y configuraciones previas

In [2]:
import sys
import os

# Get the absolute path of the current notebook
notebook_path = "."
print(notebook_path)
try:
    import google.colab
    !git clone https://github.com/repos-especializacion-UdeA/trabajo-final_AA1.git
    %cd /content/trabajo-final_AA1/notebooks_pasos_previos   
    %pwd
    ruta_base = '/content/trabajo-final_AA1/notebooks_pasos_previos/'
    sys.path.append(ruta_base)
except ImportError:
    print("El notebook no se está ejecutando en Google Colab.")
    ruta_base = './'

.
El notebook no se está ejecutando en Google Colab.

In [3]:
# Tratamiento de datos
# ==============================================================================
import pandas as pd
import numpy as np

# Almacenar en caché los resultados de funciones en el disco
# ==============================================================================
import joblib


# Gestion de librerias
# ==============================================================================
from importlib import reload

# Matemáticas y estadísticas
# ==============================================================================
import math

# Gráficos
# ==============================================================================
import matplotlib.pyplot as plt
from matplotlib import style
import seaborn as sns


# Configuración warnings
# ==============================================================================
import warnings
warnings.filterwarnings('ignore')

# Formateo y estilo
# ==============================================================================
from IPython.display import Markdown, display

# Biblioteca scipy y componentes
# ==============================================================================
import scipy.io
from scipy import signal

## 2. Funciones

In [4]:
# Funciones externas
# ==============================================================================
from utils.funciones1 import multiple_plot
from utils.funciones2 import test_hola, graficar_medida, graficar_medida2, filter_signal, \
                             segmentar_data_base, aplanar_data_base, aplanar_ventana, \
                             rms_value, mav_value, features_data_base

In [5]:
test_hola()

Hola amigos

## 3. Carga del dataset

In [6]:
DATA_PATH = "./datasets/"

archivos_mat = ['S1_A1_E1.mat', 
         'S2_A1_E1.mat', 
         'S3_A1_E1.mat', 
         'S4_A1_E1.mat', 
         'S5_A1_E1.mat', 
         'S6_A1_E1.mat', 
         'S7_A1_E1.mat', 
         'S8_A1_E1.mat', 
         'S9_A1_E1.mat', 
         'S10_A1_E1.mat', 
         'S11_A1_E1.mat', 
         'S12_A1_E1.mat', 
         'S13_A1_E1.mat', 
         'S14_A1_E1.mat', 
         'S15_A1_E1.mat', 
         'S16_A1_E1.mat', 
         'S17_A1_E1.mat', 
         'S18_A1_E1.mat', 
         'S19_A1_E1.mat', 
         'S20_A1_E1.mat', 
         'S21_A1_E1.mat', 
         'S22_A1_E1.mat', 
         'S23_A1_E1.mat', 
         'S24_A1_E1.mat', 
         'S25_A1_E1.mat', 
         'S26_A1_E1.mat',
         'S27_A1_E1.mat']

Carga de cada una de las bases de datos asociadas a los sugetos y combinación en una sola.

In [7]:
## Carga de la base de datos
data_base = pd.DataFrame()

for i in range(len(archivos_mat)):
    ruta_archivo_mat = DATA_PATH = "./datasets/" + archivos_mat[i]
    archivo_mat = scipy.io.loadmat(ruta_archivo_mat)
    # Obtencion de las columnas de interes
    df_emg = pd.DataFrame(archivo_mat['emg'])
    df_emg.columns = ['emg_' + str(col + 1) for col in df_emg.columns]
    df_restimulus = pd.DataFrame(archivo_mat['restimulus'])
    df_restimulus.rename(columns={0: 'label'}, inplace= True)
    df_repetition = pd.DataFrame(archivo_mat['rerepetition'])
    df_repetition.rename(columns={0: 'rep'},inplace= True)
    df_subject = pd.DataFrame({'s': [i + 1] * df_repetition.shape[0]}, dtype='int8')
    df_subject =  pd.concat([df_subject, df_emg, df_repetition, df_restimulus], axis=1)
    # print(f"Muestras sujeto {i + 1}: {df_subject.shape[0]}")
    data_base = pd.concat([data_base, df_subject], ignore_index=True)

## Informacion de la base de datos

In [8]:
data_base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2731393 entries, 0 to 2731392
Data columns (total 13 columns):
 #   Column  Dtype
---  ------  -----
 0   s       int8
 1   emg_1   float64
 2   emg_2   float64
 3   emg_3   float64
 4   emg_4   float64
 5   emg_5   float64
 6   emg_6   float64
 7   emg_7   float64
 8   emg_8   float64
 9   emg_9   float64
 10  emg_10  float64
 11  rep     uint8
 12  label   uint8
dtypes: float64(10), int8(1), uint8(2)
memory usage: 216.2 MB

### Contenido de los primeros registros del dataframe

In [9]:
# Primeros registros
data_base.head(10)

,s,emg_1,emg_2,emg_3,emg_4,emg_5,emg_6,emg_7,emg_8,emg_9,emg_10,rep,label
0,1,0.0684,0.0024,0.0024,0.0024,0.0024,0.0098,0.0024,0.0488,0.0024,0.0342,0,0
1,1,0.0586,0.0024,0.0024,0.0024,0.0024,0.0049,0.0024,0.0415,0.0024,0.0293,0,0
2,1,0.0562,0.0024,0.0024,0.0024,0.0024,0.0049,0.0024,0.0391,0.0024,0.0244,0,0
3,1,0.0562,0.0024,0.0024,0.0024,0.0024,0.0049,0.0024,0.0342,0.0024,0.0171,0,0
4,1,0.0488,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0366,0.0024,0.0146,0,0
5,1,0.0488,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0366,0.0024,0.0098,0,0
6,1,0.0439,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0366,0.0024,0.0098,0,0
7,1,0.0464,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0366,0.0024,0.0049,0,0
8,1,0.0464,0.0024,0.0049,0.0024,0.0024,0.0024,0.0024,0.0342,0.0024,0.0024,0,0
9,1,0.0415,0.0024,0.0024,0.0024,0.0024,0.0024,0.0024,0.0342,0.0024,0.0024,0,0

## Preprocesamiento de la señal

### Filtrado de ruido

A continuación se realiza un filtrado de ruido de la señal

In [10]:
# perform 2-order 1Hz low-pass filter
emgs_df_filt =  filter_signal(data_base.iloc[:,1:11])  
data_base_filter =  pd.concat([data_base['s'], emgs_df_filt, data_base['rep'] , data_base['label']], axis=1)
data_base_filter.head()

,s,emg_1,emg_2,emg_3,emg_4,emg_5,emg_6,emg_7,emg_8,emg_9,emg_10,rep,label
0,1,0.067523,0.002402,0.002399,0.002403,0.002395,0.009800,0.0024,0.050357,0.0024,0.034192,0,0
1,1,0.066284,0.002402,0.002402,0.002404,0.002395,0.009474,0.0024,0.049707,0.0024,0.032820,0,0
2,1,0.065045,0.002403,0.002405,0.002404,0.002395,0.009149,0.0024,0.049050,0.0024,0.031452,0,0
3,1,0.063810,0.002403,0.002409,0.002405,0.002395,0.008827,0.0024,0.048390,0.0024,0.030091,0,0
4,1,0.062581,0.002404,0.002412,0.002406,0.002395,0.008507,0.0024,0.047726,0.0024,0.028743,0,0

## Segmentacion

Se van a usar ventanas de 30 muestras sobrelapadas en 10 muestras:

In [11]:
numero_de_sujetos = 2
sujetos_muestra = data_base_filter[data_base_filter['s'] <= numero_de_sujetos]
segments = segmentar_data_base(sujetos_muestra, 30, 10)

9369

In [12]:
print(data_base_filter.shape)
print(len(segments))

(2731393, 13)
9369

In [13]:
segments[0]

,s,emg_1,emg_2,emg_3,emg_4,emg_5,emg_6,emg_7,emg_8,emg_9,emg_10,rep,label
0,1,0.067523,0.002402,0.002399,0.002403,0.002395,0.009800,0.0024,0.050357,0.0024,0.034192,0,0
1,1,0.066284,0.002402,0.002402,0.002404,0.002395,0.009474,0.0024,0.049707,0.0024,0.032820,0,0
2,1,0.065045,0.002403,0.002405,0.002404,0.002395,0.009149,0.0024,0.049050,0.0024,0.031452,0,0
3,1,0.063810,0.002403,0.002409,0.002405,0.002395,0.008827,0.0024,0.048390,0.0024,0.030091,0,0
4,1,0.062581,0.002404,0.002412,0.002406,0.002395,0.008507,0.0024,0.047726,0.0024,0.028743,0,0
5,1,0.061362,0.002404,0.002415,0.002407,0.002395,0.008192,0.0024,0.047061,0.0024,0.027410,0,0
6,1,0.060156,0.002405,0.002419,0.002407,0.002396,0.007881,0.0024,0.046395,0.0024,0.026096,0,0
7,1,0.058966,0.002406,0.002422,0.002408,0.002396,0.007576,0.0024,0.045729,0.0024,0.024805,0,0
8,1,0.057793,0.002406,0.002425,0.002409,0.002396,0.007278,0.0024,0.045064,0.0024,0.023539,0,0
9,1,0.056641,0.002407,0.002428,0.002410,0.002396,0.006986,0.0024,0.044399,0.0024,0.022300,0,0
10,1,0.055512,0.002408,0.002432,0.002411,0.002396,0.006702,0.0024,0.043736,0.0024,0.021092,0,0
11,1,0.054407,0.002409,0.002435,0.002412,0.002397,0.006426,0.0024,0.043073,0.0024,0.019916,0,0
12,1,0.053328,0.002410,0.002438,0.002413,0.002397,0.006158,0.0024,0.042413,0.0024,0.018774,0,0
13,1,0.052277,0.002411,0.002440,0.002414,0.002398,0.005899,0.0024,0.041753,0.0024,0.017668,0,0
14,1,0.051255,0.002412,0.002443,0.002415,0.002398,0.005648,0.0024,0.041094,0.0024,0.016597,0,0
15,1,0.050263,0.002413,0.002446,0.002417,0.002399,0.005407,0.0024,0.040437,0.0024,0.015565,0,0
16,1,0.049303,0.002414,0.002449,0.002418,0.002399,0.005175,0.0024,0.039781,0.0024,0.014570,0,0
17,1,0.048374,0.002415,0.002452,0.002419,0.002400,0.004952,0.0024,0.039126,0.0024,0.013614,0,0
18,1,0.047478,0.002416,0.002455,0.002420,0.002400,0.004738,0.0024,0.038473,0.0024,0.012698,0,0
19,1,0.046615,0.002418,0.002458,0.002422,0.002401,0.004533,0.0024,0.037821,0.0024,0.011820,0,0
20,1,0.045784,0.002419,0.002461,0.002423,0.002402,0.004338,0.0024,0.037171,0.0024,0.010982,0,0
21,1,0.044986,0.002420,0.002464,0.002425,0.002403,0.004152,0.0024,0.036524,0.0024,0.010183,0,0
22,1,0.044221,0.002422,0.002467,0.002426,0.002404,0.003976,0.0024,0.035881,0.0024,0.009423,0,0
23,1,0.043488,0.002423,0.002470,0.002428,0.002405,0.003808,0.0024,0.035243,0.0024,0.008701,0,0
24,1,0.042789,0.002425,0.002474,0.002429,0.002406,0.003649,0.0024,0.034611,0.0024,0.008017,0,0
25,1,0.042121,0.002426,0.002477,0.002431,0.002407,0.003500,0.0024,0.033986,0.0024,0.007370,0,0
26,1,0.041485,0.002428,0.002480,0.002432,0.002408,0.003358,0.0024,0.033369,0.0024,0.006760,0,0
27,1,0.040880,0.002429,0.002484,0.002434,0.002410,0.003225,0.0024,0.032763,0.0024,0.006185,0,0
28,1,0.040305,0.002431,0.002487,0.002435,0.002411,0.003100,0.0024,0.032168,0.0024,0.005646,0,0
29,1,0.039760,0.002432,0.002491,0.002437,0.002413,0.002984,0.0024,0.031586,0.0024,0.005140,0,0

In [15]:
rms_seg = rms_value(segments[0].iloc[:,1:-2])
rms_seg

,emg_1,emg_2,emg_3,emg_4,emg_5,emg_6,emg_7,emg_8,emg_9,emg_10
0,0.05251,0.002414,0.002445,0.002417,0.0024,0.006204,0.0024,0.041218,0.0024,0.019526

In [16]:
rms_window = pd.DataFrame({'s': [segments[0].iloc[0,0]]})
rms_window = pd.concat([rms_window,rms_seg],axis=1)
rms_window['rep'] = segments[0].iloc[0,-2]
rms_window['label'] = segments[0].iloc[0,-1]
rms_window

,s,emg_1,emg_2,emg_3,emg_4,emg_5,emg_6,emg_7,emg_8,emg_9,emg_10,rep,label
0,1,0.05251,0.002414,0.002445,0.002417,0.0024,0.006204,0.0024,0.041218,0.0024,0.019526,0,0

In [17]:
# No usar por ahora
# data_base_to_model = aplanar_data_base(segments)

rms_val_db = features_data_base(segments)

In [18]:
# data_base_to_model.shape
rms_val_db.shape

(9369, 13)

In [21]:
# data_base_to_model.head(2)
rms_val_db.head()

,s,emg_1,emg_2,emg_3,emg_4,emg_5,emg_6,emg_7,emg_8,emg_9,emg_10,rep,label
0,1,0.052510,0.002414,0.002445,0.002417,0.002400,0.006204,0.0024,0.041218,0.0024,0.019526,0,0
1,1,0.038543,0.002440,0.002513,0.002443,0.002426,0.002803,0.0024,0.029789,0.0024,0.005035,0,0
2,1,0.035662,0.002448,0.002564,0.002446,0.002478,0.001975,0.0024,0.025287,0.0024,0.000813,0,0
3,1,0.037038,0.002425,0.002542,0.002420,0.002526,0.002129,0.0024,0.026216,0.0024,0.001485,0,0
4,1,0.035718,0.002404,0.002478,0.002401,0.002542,0.002346,0.0024,0.026433,0.0024,0.002234,0,0

# Modelado

* Puede que sea necesario reducir dimensionalidad usando algunas transformaciones.
* Escalar.
* Normalizar.
* Entrenar y Testear.
* Rezar.

## Referencias

* https://github.com/parasgulati8/NinaPro-Helper-Library
* https://github.com/Lif3line/nina_helper_package_mk2
* https://github.com/cnzero/NinaproCNN/tree/master
* https://github.com/sebastiankmiec/NinaTools
* https://github.com/sun2009ban/divide_NinaPro_database_5
* https://github.com/tsagkas/sEMG-HandGestureRecognition 
* https://repositorio.unbosque.edu.co/items/61d39597-5a61-491c-909a-849e53efe8ad
* https://github.com/parasgulati8/NinaPro-Helper-Library/blob/master/